
  body
  {
  SCROLLBAR-FACE-COLOR: #0075EA;
  SCROLLBAR-HIGHLIGHT-COLOR: #C5C5C5;
  SCROLLBAR-SHADOW-COLOR: #A28C7D;
  SCROLLBAR-3DLIGHT-COLOR: #E9FFDF;
  SCROLLBAR-ARROW-COLOR: #AFAFEB;
  SCROLLBAR-TRACK-COLOR: #AFAFEB;
  SCROLLBAR-DARKSHADOW-COLOR: #E7E7CF;
  color: black; /* Le texte de la page sera blanc */
  background-color:#E8E9E0; /* Le fond de la page sera noir */


  }
  
  #bloc_page
{
    width: 940px;
    margin: auto;
}
  
  /* Header */

 header
{
    background: url('images/separateur.png') repeat-x bottom;
}

#titre_principal
{
   display: inline-block;
	color: red;	
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
}

#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/* Navigation */

nav
{
    display: inline-block;
    width: 740px;
}

nav ul
{
    list-style-type: none;
	text-align :right;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: rgba(210,35,35,0.8);
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover	
{
    color: #760001;
    border-bottom: 0px solid #790001;
}

  
  /* Bannière */

#banniere_image
{
    margin-top: 15px;
	 margin: auto;
    height: 140px;
	 width:750px;
	 border-radius: 5px;

    background: url('img/bandeau_principal.jpg') no-repeat center;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 10px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;	
    border-radius: 0px 0px 5px 5px;
    width: 99,9%;
    height: 30px;
    padding-top: 0px;
    padding-left: 0px;
    background-color: rgb(22,22,22); /* Pour les anciens navigateurs */
    background-color: rgba(10,22,22,0.8);
    font-size: 0.9em;
    
}

.menu {
  font-family: Verdana;
  font-size: 10px;
  font-style: normal;
  line-height: 15px;
  font-weight: bold;
  color: #FFFFF9;
  text-decoration: none;
  background-image: url(img/bout_on.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 30px;
  width: 114px;
  text-align: center;
  vertical-align: middle;
}

.menu:hover {
  background-image: url(img/bout_off.jpg);
  text-decoration: none;
  font-weight: normal;
}

.head {
  font-family: peilot DB;
  font-size: 16pt; 
  color: #E9ECA6; 
  font-weight: normale; 
  text-decoration: none
  }
  
.ent {
  border-radius: 5px 5px 5px 5px;
  background-color: #000080;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 12pt;
  color: white;
  font-weight: normale;
  text-decoration: none;
  text-align: center;
  vertical-align: middle
  }
  
 
.text {
  font-family: peilot DB, Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #403050;
  font-weight: normale;
  text-decoration: none;
  }
.test{
  font-family: peilot DB, Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #403050;
  font-weight: normale;
  text-decoration: none;
  border-style: solid;
  }
.lien {
  color: #AFAFEB;
  }
  
  
  /* Onglets*/
#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #fff;
}

/*Base de donnée*/
  
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {

    padding: 1px;
    border: 1px solid #f1f1f1;
    background: rgba(255, 255, 255, .4;
    opacity: 0.5; 
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text]{
	 background-color: rgba(50, 50, 50, 0.5);
	 color: greenyellow;
	 
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type=password] {
	 background-color: rgba(50, 50, 50, 0.5);
	 color: green;
	 
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Set a style for all buttons */
input[type=submit] {
    /*background-color: red;
    color: white;*/
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    /*background-color: red;
    color: #53af57;*/
    border: 1px solid #53af57;
}